<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Free-Mapper">

	<sql id="search">
		<if test="searchType == 't'.toString()">
			and sj like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'w'.toString()">
			and emp_nm like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'c'.toString()">
			and cn like '%'||#{keyword}||'%'			
		</if>
		<if test="searchType == 'tc'.toString()">
			and (
			sj like '%'||#{keyword}||'%'
			or
			cn like '%'||#{keyword}||'%'						
			)			
		</if>
		<if test="searchType == 'cw'.toString()">
			and (
			emp_nm like '%'||#{keyword}||'%'
			or
			cn like '%'||#{keyword}||'%'						
			)			
		</if>
		<if test="searchType == 'tcw'.toString()">
			and (
			sj like '%'||#{keyword}||'%'
			or
			emp_nm like '%'||#{keyword}||'%'
			or
			cn like '%'||#{keyword}||'%'						
			)			
		</if>
	</sql>
	
	<select id="selectSearchFreeList" resultType="free">
		select
		*
		from
		bbs_freebd
		where bbsctt_no is not null  			  	
		<include refid="search" />
		order by bbsctt_no desc
	</select>

	<select id="selectSearchFreeListCount" resultType="int">
		select
		count(*)
		from
		bbs_freebd
		where bbsctt_no is not null  			  	
		<include refid="search" />
		order by bbsctt_no desc
	</select>
	
	<select id="selectFreeList" resultType="free">
		select * 
		from bbs_freebd
		order by bbsctt_no desc		
	</select>
	
	<select id="selectFreeByBbscttNo"  resultType="free">
		select * 
		from bbs_freebd
		where bbsctt_no=#{bbsctt_no}
	</select>	
	
	<update id="insertFree" parameterType="free">
		insert 
		into 
		bbs_freebd(bbsctt_no,sj,emp_nm,cn,empno)
		values
		( #{bbsctt_no},#{sj},#{emp_nm},#{cn},#{empno})
	</update>	
	
	<update id="updateFree" parameterType="free">
		update 
		bbs_freebd
		set 
		sj=#{sj}, cn=#{cn}
		where bbsctt_no=#{bbsctt_no}
	</update>
	
	<update id="deleteFree" parameterType="str">
		delete 
		from bbs_freebd
		where bbsctt_no=#{bbsctt_no}
	</update>
	
	<update id="increaseViewCnt" parameterType="str">
		update 
		bbs_freebd
		set 
		rdcnt=rdcnt+1 
		where bbsctt_no=#{bbsctt_no}
	</update>
	
	<select id="selectFreeSeqNext" resultType="int">
		select free_seq.nextval as bbsctt_no from dual
	</select>
</mapper>